/* DEFINIÇÃO DE FONTES */
@font-face {
    font-family: "Unbounded";
    src: url("../fontes/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fontes/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO DESKTOP */
body {
    background-color: #0E1014;
    color: #FFFFFF;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

/* TÍTULO */
h1 {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin: 24px auto 0;
    max-width: 792px;
}

/* TEXTO */
p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
    max-width: 792px;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: #9747FF;
}

/* BOTÃO */
a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
    transition: 0.3s;
}

a:hover {
    background-color: #8233E8;
    transform: translateY(-3px);
}

/* IMAGEM */
section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }
}

@media(max-width: 375px){

    header img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img{
        width: 340px;
        height: 230px;
    }
}