/* =========================
   DEFINIÇÃO DE FONTES
========================= */
@font-face {
    font-family: "Unbounded";
    src: url("../fontes/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fontes/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* =========================
   RESET GLOBAL
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
    background-color: #0E1014;
    color: #FFFFFF;
    padding: 0 20px; /* espaço lateral no mobile */
}

/* =========================
   HEADER
========================= */
header {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

header img {
    max-width: 180px;
    width: 100%;
}

/* =========================
   SECTION
========================= */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* =========================
   TÍTULO
========================= */
h1 {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    margin-top: 60px;
    max-width: 792px;
}

h1 span {
    color: #9747FF;
}

/* =========================
   TEXTO
========================= */
p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    margin-top: 24px;
    max-width: 792px;
}

/* =========================
   BOTÃO
========================= */
a {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    color: #FFFFFF;
    width: 100%;
    max-width: 340px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    margin: 40px 0;
    transition: 0.3s;
}

a:hover {
    background-color: #8233E8;
    transform: translateY(-3px);
}

/* =========================
   IMAGEM
========================= */
section img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* =========================
   RESPONSIVIDADE
========================= */
@media (max-width: 768px) {

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

}

@media (max-width: 375px) {

    h1 {
        font-size: 32px;
    }

    a {
        height: 56px;
        font-size: 18px;
    }

}
